<!--TYPO3SEARCH_end-->
<div id="right">
	{include file=$right_searchbox_template}	
	{* For the form list could be shown organisations with forms. *}	
	<!--{if $organisations != "" }-->		
		<h3 class="invisible">{$subnavigation_label}:</h3>
		<div id="rightmenu">
			<ul class="level1">
				<!--{foreach from=$organisations item=organisation }-->
					<li><a href="{$organisation.link}">{$organisation.name}</a></li>
				<!--{/foreach}-->			
			</ul><!-- level1 end -->
		</div><!-- rightmenu end -->	
	<!--{/if}-->
	{include file=$right_top_template}
	right_top
</div><!-- right end -->
<div id="centrecontent">	
	<!--{if $heading != ""}-->		
		<h1>{$heading}</h1>	
	<!--{/if}-->	
	<!--{if $abcbar != ""}-->		
		{$abcbar}	
	<!--{/if}-->		
	<!--{if $orCodeBar != ""}-->		
		{$orCodeBar}	
	<!--{/if}-->		
	<h2>{$subheading}:</h2>	
		<div id="employee_az">
			
		<!--{foreach from=$employees item=employee}-->
			<div class="employee">
				
				<span>{$employee.full_name}</span>	
				<span><!--{if $employee.em_image > ''}-->{$employee.em_imagecode}<!--{/if}--></span>
				<span><!--{if $employee.em_telephone > ''}-->{$employee.em_telephone}<!--{/if}--></span>	
				<span><!--{if $employee.email_code > ''}-->{$employee.email_code}<!--{/if}--></span>	
				<span><!--{if $employee.em_fax > ''}-->{$employee.em_fax}<!--{/if}--></span>
				<span><!--{if $employee.em_mobile > ''}-->{$employee.em_mobile}<!--{/if}--></span>
			</div>
			<!--{foreach from=$employee.em_organisations item=organisation}-->
				<div class="organisation">
				<span>&nbsp;</span>
					<span>
						<!--{if $organisation.or_code > ''}-->&nbsp;({$organisation.or_code})<!--{/if}-->
						<!--{if $organisation.or_name > ''}-->{$organisation.or_name}<!--{/if}-->
						<!--{if $organisation.or_shorttitle > ''}-->{$organisation.or_shorttitle}<!--{/if}-->
					</span>	
				</div>
				<!--{foreach from=$organisation.positions item=position}-->
					<div class="position">
						<span>&nbsp;</span>
						<span>
							<!--{if $position.po_nice_name > ''}-->{$position.po_nice_name}<!--{/if}-->
							<!--{if $position.po_name > ''}--><br />({$position.po_name})<!--{/if}-->
						</span>	
						<span>
							<!--{if $position.po_phone > ''}-->{$position.po_phone}<!--{/if}-->
						</span>
						<span>
							<!--{if $position.po_building > ''}-->{$position.po_building}:<!--{/if}-->
							<!--{if $position.po_room > ''}-->&nbsp;{$position.po_room}<!--{/if}-->
							<!--{if $position.po_floor > ''}-->&nbsp;({$position.po_floor})<!--{/if}-->
						</span>	
						<span>
							<!--{if $position.po_fax > ''}-->{$position.po_fax}<!--{/if}-->
						</span>
						<span>
							<!--{if $position.po_mobile > ''}-->&nbsp;({$position.po_mobile})<!--{/if}-->
						</span>						
					</div>
				<!--{/foreach}-->	<!--positions-->
			<!--{/foreach}-->	<!--organisations-->
		<!--{/foreach}-->	<!--employees-->
		</div>
		{$pagebar}
</div><!-- centrecontent end -->