<!--TYPO3SEARCH_end-->
<div id="right">
	{include file=$right_searchbox_template}	
	{include file=$right_top_template}
</div><!-- right end -->
<div id="centrecontent">	
	<!--{if $heading != ""}-->		
		<h1>{$heading}</h1>	
	<!--{/if}-->	
	<!--{if $abcbar != ""}-->		
		{$abcbar}	
	<!--{/if}-->		
	<h2>{$subheading}:</h2>	
		<div id="employee_az">
			<!--{foreach from=$employees item=employee}-->
				<ul class="employee">
					<li class="em_name"><span class="employee">{$employee.full_name}</span>
						<!--{foreach from=$employee.em_organisations item=organisation}-->
							<ul class="organisation">
								<li class="or_name">
									<!--{if $organisation.or_code > ''}-->({$organisation.or_code})<!--{/if}-->
									<!--{if $organisation.or_name > ''}-->{$organisation.or_name}<!--{/if}-->
									<!--{if $organisation.or_shorttitle > ''}-->{$organisation.or_shorttitle}<!--{/if}-->
									<!--{foreach from=$organisation.positions item=position}-->
										<ul class="position">
											<li class="po_name">
												<!--{if $position.po_nice_name > ''}-->{$position.po_nice_name}<!--{/if}-->
												<!--{if $position.po_name > ''}-->&nbsp;({$position.po_name})<!--{/if}-->
												<!--{if $position.po_phone > '' || $position.po_building > '' || $position.po_fax > '' || $position.po_mobile > '' || po_descr > ''}-->
													<ul class="po_items">
														<!--{if $position.po_descr > ''}--><li>{$position.po_descr}</li><!--{/if}-->
														<!--{if $position.po_phone > ''}--><li>{$position.po_phone}</li><!--{/if}-->
														<!--{if $position.po_email > ''}--><li>{$position.po_email}</li><!--{/if}-->
														<!--{if $position.po_building > ''}-->
															<li>
																{$position.po_building}:
																<!--{if $position.po_room > ''}-->&nbsp;{$position.po_room}<!--{/if}-->
																<!--{if $position.po_floor > ''}-->&nbsp;({$position.po_floor})<!--{/if}-->
															</li>
														<!--{/if}-->	
														<!--{if $position.po_fax > ''}--><li>{$position.po_fax}</li><!--{/if}-->
														<!--{if $position.po_mobile > ''}--><li>({$position.po_mobile})</li><!--{/if}-->
													</ul>{* ul class="po_items" *}
												<!--{/if}-->	
											</li>{* li class = "po_name" *}		
										</ul>{* ul class="position" *}
									<!--{/foreach}-->
								</li>{* li class = "or_name" *}	
							</ul>{* ul class = "organisation" *}	
						<!--{/foreach}-->
					</li>{* li class = "em_name" *}		
					<li class="em_pic"><!--{if $employee.em_image > ''}-->{$employee.em_imagecode}<!--{/if}--></li>
					<li class="em_phone"><!--{if $employee.em_telephone > ''}-->{$employee.em_telephone}<!--{/if}--></li>	
					<li class="em_email"><!--{if $employee.email_code > ''}-->{$employee.email_code}<!--{/if}--></li>	
					<li class="em_fax"><!--{if $employee.em_fax > ''}-->{$employee.em_fax}<!--{/if}--></li>
					<li class="em_mobile"><!--{if $employee.em_mobile > ''}-->{$employee.em_mobile}<!--{/if}--></li>
				</ul>{* ul class = "employee" *}	
			<!--{/foreach}-->
		</div>
		{$pagebar}
</div><!-- centrecontent end -->