<!--TYPO3SEARCH_end-->
<div id="right">
	{include file=$right_searchbox_template}	
	{* For the form list could be shown organisations with forms. *}	
	<!--{if $organisations != "" }-->		
		<h3 class="invisible">{$subnavigation_label}:</h3>
		<div id="rightmenu">
			<ul class="level1">
				<!--{foreach from=$organisations item=organisation }-->
					<li><a href="{$organisation.link}">{$organisation.name}</a></li>
				<!--{/foreach}-->			
			</ul><!-- level1 end -->
		</div><!-- rightmenu end -->	
	<!--{/if}-->
	{include file=$right_top_template}
</div><!-- right end -->
<div id="centrecontent">	
	<!--{if $heading != ""}-->		
		<h1>{$heading}</h1>	
	<!--{/if}-->	
	<!--{if $abcbar != ""}-->		
		{$abcbar}	
	<!--{/if}-->		
	<h2>{$subheading}:</h2>		
	<!--{if $form_list != ""}-->
		<!--{foreach from=$form_list key=category item=cat}-->
			<!--{if $category != ""}-->		
				<h2 class="category">{$category}</h2>
			<!--{/if}-->
				<ul class="formlist">		
				<!--{foreach from=$cat item=form}-->			
					<img src="{$form.icon}" class="fileicon"/><li><a href="{$form.url}" target="_blank">{$form.name}&nbsp;</a><br />		
					{*<li><strong>{$form.url}</strong><br />*}
					<!--{if $form.descr != ""}-->					
						{$form.descr}				
					<!--{/if}-->									
					<!--{if $form.services != ""}-->					
						{$assigned_services}:<br />					
						<ul>					
						<!--{foreach from=$form.services item=service}-->						
							<li><a href="{$service.link}">{$service.name}</a></li>					
						<!--{/foreach}-->					
						</ul>				
					<!--{/if}--><br />			
					</li>		
				<!--{/foreach}-->		
				</ul>	
		<!--{/foreach}-->		
	<!--{/if}-->	
	
	<!--{if $form_list != ""}-->		
			<!--{/if}-->	
	{$pagebar}
</div><!-- centrecontent end -->