<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="all" />
		<link rel="copyright" href="/copyright/" title="Copyright" />
		<link rel="help" href="/hilfe/" title="Hilfe" />
		<link rel="contents" href="/sitemap/" title="Inhaltsverzeichnis" />
		<link rel="start" href="/" title="Startseite" />
		<link rel="author" href="/impressum/" title="Impressum" />
		<link rel="search" href="/suche/" title="Suche" />
	</head>

	<body>
		<!--###DOCUMENT###-->

		<h1 class="invisible">O.S.I.R.I.S.</h1>
		<h2 class="invisible">Open source basiertes integriertes regionales Informationssystem f&uuml;r Virtuelle Rath&auml;user</h2>
		<p class="invisible">
			<a href="#globalenavigation" accesskey="3" class="invisible" title="Zu den Navigationen und Kurzmitteilungen / Inhalt &uuml;berspringen">
				Zu den Navigationen / Inhalt &uuml;berspringen
			</a><br />
			<a href="#centrecontent" accesskey="2" class="invisible" title="Zum Inhalt / Navigationen und Kurzmitteilungen &uuml;berspringen">
				Zum Inhalt / Navigationen &uuml;berspringen
			</a>
		</p>
		<div id="header">
			<div id="globalenavigation">
				<h3 class="invisible">Globale Navigation:</h3>
				<ul>
					<li class="kommune"><strong>###COMMUNITY###</strong></li>
					<li class="login"><a href="###LOGIN_LINK###">###LOGIN###</a></li>
					<li class="feuser"><em>###FEUSER###</em></li>
				</ul>
				</div><!-- globalenavigation end -->
		</div><!-- header end -->
		<div id="outer">
			<div id="clearheader"></div><!-- to clear header -->
			<div class="outerwrap">
				<div id="left">
					<h3 class="invisible">Hauptnavigation:</h3>
					###MENU###
				</div><!-- left end -->
				###CONTENT###
				<div style="clear: both"></div>
			</div><!--end outer wrap -->
			<div id="clearfooter"></div><!-- to clear footer -->
		</div><!-- end outer -->
		<div id="footer">
			<hr class="invisible" />
			<div class="footer">
				Entwickelt und gef&ouml;rdert durch:<br />
				<a href="http://www.wi.uni-muenster.de/institut/" target="_blank" title="Link öffnet neues Fenster mit dem Institut für Wirtschaftsinformatik der Universität Münster" class="newwindow">Wirtschaftsinformatik der Universit&auml;t M&uuml;nster</a> |
				<a href="http://www.wi.uni-muenster.de/ERCIS/de/" target="_blank" title="Link öffnet neues Fenster mit ERCIS - European Resarch Center for Information Systems" class="newwindow">ERCIS</a> |
				<a href="http://www.kreis-warendorf.de" target="_blank" title="Link öffnet neues Fenster mit dem Kreis Warendorf" class="newwindow">Kreis Warendorf</a> |
				<a href="http://www.citeq.de" target="_blank" title="Link öffnet neues Fenster mit der Citeq" class="newwindow">Citeq</a> |
				<a href="http://www.livingpage.com" target="_blank" title="Link öffnet neues Fenster mit der Livingpage MediaAgentur" class="newwindow">Livingpage MediaAgentur</a>
				<div class="invisible">
					<a href="#globalenavigation" accesskey="1" title="Zum Seitenanfang">Zum Seitenanfang</a>
				</div>
			</div>
		</div><!-- end footer -->

		<!--###DOCUMENT###-->
	</body>
</html>