<div id="right">
	<div id="rightinfo">
	Gef&ouml;rdert und entwickelt durch:<br /><br />
						<a href="http://www.wi.uni-muenster.de/ERCIS/de/" target="_blank" title="Link &ouml;ffnet neues Fenster mit ERCIS - European Resarch Center for Information Systems"><img src="{$imgPath}ercis.gif" alt="Logo von ERCIS - European Resarch Center for Information Systems" /></a><br /><br />
						<a href="http://www.wi.uni-muenster.de/institut/" target="_blank" title="Link &ouml;ffnet neues Fenster mit der Wirtschaftsinformatik der Universit&auml;t M&uuml;nster"><img src="{$imgPath}wi.jpg" alt="Logo von der Wirtschaftsinformatik der Universit&auml;t M&uuml;nster" /></a><br /><br />
						<a href="http://www.kreis-warendorf.de" target="_blank" title="Link &ouml;ffnet neues Fenster mit dem Kreis Warendorf"><img src="{$imgPath}kreiswarendorf.gif" alt="Logo des Kreises Warendorf" /></a><br /><br />
						<a href="http://www.livingpage.com" target="_blank" title="Link &ouml;ffnet neues Fenster mit der Livingpage MediaAgentur"><img src="{$imgPath}livingpage.gif" alt="Logo der Livingpage Mediaagentur" /></a><br />
	</div>
</div><!-- right end -->
				
<div id="centrecontent">
	<h1>Impressum</h1>
	<p>Diese Website wird gehostet durch die citeq (IT-Dienstleister f&uuml;r Kommunen). Die citeq ist eine eigenbetriebs&auml;hnliche Einrichtung der Stadt M&uuml;nster. Die Stadt M&uuml;nster ist eine K&ouml;rperschaft des &Ouml;ffentlichen Rechts. Sie wird vertreten durch den Oberb&uuml;rgermeister Markus Lewe.</p>
	
	<p><strong>Hausanschrift</strong><br />
	Stadt M&uuml;nster<br />
	- citeq -<br />
	Scheibenstra&szlig;e 109<br />
	48153 M&uuml;nster</p>
	
	<p><strong>Werkleiter:</strong><br />
	Rolf Tewes</p>
	
	<p><strong>Firmensitz:</strong><br />
	M&uuml;nster</p>
	
	
	<p><strong>Postanschrift:</strong><br />
	Stadt M&uuml;nster<br />
	- citeq -<br />
	<br />
	48127 M&uuml;nster<br />
	Telefon: (0251) 492 - 1801<br />
	Telefax: (0251) 492 - 7710</p>
	
	
	<p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27a Umsatzsteuergesetz:<br />
	DE 126118269 48127</p>

	<p>Haftungshinweis: Trotz sorgf&auml;ltiger inhaltlicher Konstrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind aussschlie&szlig;lich deren Betreiber verantwortlich.</p>
	
	<p>Das Virtuelle Rathaus O.S.I.R.I.S. ist ein Open Source Produkt.</p>
	
	<p>Es basiert auf dem Open Source Redaktionssystem Typo3 und wird auf der Typo3-Extension-Develolpment Plattform als Modul gef&uuml;hrt. O.S.I.R.I.S. kann zu den Bedingungen der GPL weiterentwickelt werden.</p>
	
	<p>Wer sich an der Entwicklung beteiligen m&ouml;chte, kann sich &uuml;ber die citeq (<a href="{$contactLink}">zum Kontaktformular</a>) bei der Typo3-Extension-Development Plattform als Entwickler f&uuml;r das Virtuelle Rathaus anmelden.</p>
</div><!-- centrecontent end -->
