<div id="right">	
	{include file=$right_searchbox_template}	
	{include file=$right_top_template}
</div><!-- right end -->				

<div id="centrecontent">	
	<!--{if $heading != ""}-->		
		<h1>{$heading}</h1>	
	<!--{/if}-->
		
	{* Shows the organisation details *}	
	<!--{if $or_name != ""}-->		
		{include file=$organisation_template}	
	<!--{/if}-->
		
	<!--{if $abcbar != ""}-->		
		{$abcbar}	
	<!--{/if}-->
		
	<h2>{$subheading}:</h2>	
		<div class="list">		
			<ul>			
			<!--{foreach from=$services item=service }-->				
				<li><a href="{$service.link}">{$service.name}</a></li>			
			<!--{/foreach}-->		
			</ul>	
	</div>	
	{$pagebar}	
</div><!-- centrecontent end -->				
<!--TYPO3SEARCH_begin-->
<!--TYPO3SEARCH_end-->				